<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User edit</title>
</head>
<body>
<form th:action="@{/admin/user/edit}" method="post">
    <input type="hidden" name="user_id" th:value="${user.id}"> <br>
    username: <input type="text" name="username" th:value="${user.username}"> <br>
    password: <input type="password" name="password"> <br>
    email: <input type="email" name="email" th:value="${user.email}"> <br>
    phone: <input type="text" name="phone" th:value="${user.phone}"> <br>
    <button type="submit">Save</button> <br>
</form>
</body>
</html>