<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User list</title>
</head>
<body>
<table>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}">...</td>
            <td th:text="${user.email}">...</td>
            <td th:text="${user.phone}">...</td>
            <td><th:block th:each="role : ${user.roles}"><span th:text="${role}">...</span>,</th:block></td>
            <td><a th:href="'/admin/user/'+${user.id}+'/edit'">Edit</a></td>
            <td><a th:href="'/admin/user/'+${user.id}+'/delete'">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>